@import "../../Utils/utils.css";

.OpenXDay {
    width: 100%;
    height: 100%;
    font-size: 4em;
    background-color: rgba(0, 0, 0, 0.75);
}

.OpenXDay.green {
    background-color: #2ECC40;
}

.OpenXDay.red {
    background-color: #FF4136;
}

.OpenXDay .question, .OpenXDay .answerComposite {
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgba(255, 255, 255, 0.75);
}

.OpenXDay .question {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    /* border-right: 5px solid rgba(255, 255, 255, 0.5); */
}

.OpenXDay .question span {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 0.5em;
    transform: translate(0%, -50%);
}

.OpenXDay .answerComposite {
    float: right;
    width: 50%;
    height: 100%;
    position: relative;
}

.OpenXDay .answerComposite-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.OpenXDay .answerComposite .answerBoolean {
    color: rgba(255, 255, 255, 0.85);
}

.OpenXDay .answerComposite .answerReason {
    opacity: 0.85;

    font-size: 0.85em;
}